
.details_container{
    background-color: #393E46;
    background-size: cover;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}
.nav_bar{
    margin-top: 90px;
    position: absolute;
}

.details_card{
    background-color:#293443 ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 500px;
    margin:40px;
    margin-left: 32%;
    margin-bottom: 10px;
    bottom: 100px;
     box-shadow: 10px 20px 8px #222831;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.details_card_image{
    height: 200px;
    width: 350px;
    margin-left: 80px;
    margin-top: 25px;
    border-radius: 10px;
}

.details_activities{
    width: 1000px;
    height: 1000px;
    display: flex;
    justify-content: center;
    margin-left: 180px;
    margin-top: 100px;

   
}

.details_activities_title{
    margin-top: 130px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
    color: #EEEEEE;
}

.details_activities_card{
    background-color:#293443 ;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    display: flex;
    justify-content: column;
    flex-direction: column;
    height: max-content;
    width: 300px;
    margin:40px;
    margin-top: 25px;
    margin-left: 30px;
    margin-bottom: 10px;
    bottom: 100px;
     box-shadow: 10px 20px 8px #222831;
}

.details_activities_card_name{
    font-size: 20px;
    color: #00ADB5;
    
}
.details_activities_card_duration{
    color:#EEEEEE;
}

.details_activities_card_difficulty{
    color: #EEEEEE
}

.details_activities_card_season{
    color:#EEEEEE
}

.details_card_name{
    color:#EEEEEE;
}

.details_card_names{
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    
}

.details_card_numbers{
    display: flex;
    justify-content: space-evenly;
    margin-right: 20px;
    margin-left: 5px;
}

.details_card_continent{
    font-size: 19px;
    margin-bottom: 25px;
    font-weight: 600;
    color: #EEEEEE
}

b{
    color: #EEEEEE
}

.details_card_p{
    color: #EEEEEE
}

.imagen{
    display: block;
    left: 32%;
    position:relative;
    height: 120px;
    width: 120px;
    border-radius: 50%;
}