.contenedor{
    
    background-color: #393E46;
    background-size: cover;
    position:absolute;
    height: 250px;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    
}


.cards{

    
    margin-top: 10%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    
}



.filters{
    position: relative;
    right: 3%;
    top: 60px;
    margin-bottom: 30px;
    color: #EEEEEE;

}





.buttons{
  
    position: relative;
    bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 30px;
    
    
}
label{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.label{
    position: relative;
    left: 1px;
    margin-right: 15px;
    margin-left: 25px;
    font-size:18px;
    font-weight: 400;
}
.select{
    width: 120px;
    height: 60px;
    padding-right: 30px;
    height: 25px;
    font-size: 14px;
    border-radius: 15px;
    background-color: white;
}

.fail{
    margin-top: 5%;
    color: #EEEEEE;
    margin-bottom: 100px;
}

.optgroup{
  color: #293443;
}



.loading{
    width: 40%;
    height: 80%;
}