.activities_container{
  background-color: #393E46;
  
  background-size: cover;
  position:relative;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}

.activities_filters{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    flex-direction:row;
    color: black;
    
}

label{
    color:#EEEEEE;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.fail{
  color:#EEEEEE;
  margin-right: 100px;
}

.activities_button{
    margin-left: 20px;
    background-color: rgb(22, 22, 22);
    color: white;
}

.activities_select{
    height: 25px;
    border-radius: 10px;
}

.activities_cards{
display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 90px;
  margin-top: 100px;
  bottom: 5px;
}

.activities_card{
    background-color:#293443 ;
    position: relative;
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 150px;
    margin: 30px;
    margin-top: 60px;
    padding:70px;
    bottom: 100px;
    border-radius: 20px;
    box-shadow: 30px 40px 8px #222831;
    margin-bottom: 25px;
    
}

.activities_countries{
    text-decoration-line:underline ;
    margin-bottom: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#EEEEEE;
}

.activities_country{
    text-decoration: none;
    margin-top: 8px;
    margin-bottom: 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #00ADB5;
}

.activities_name{
    margin-top:8px;
    color: #EEEEEE;
    
    
}

.activities_title{
    margin-top: 10px;
    font-size: 20px;
    color: #00ADB5;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.activities_link{
    text-decoration: none;
}

.activities_link:hover{
    text-decoration-line:underline ;
}

.activities_season{
    margin-top:8px;
    font-size: 18px;
    font-weight: 500;
    color: #EEEEEE;
}


.add-new{
  margin-bottom: 200px;
  margin-top: 0px;
  padding-top: 0px;
}


.image{
    border-radius: 50%;
}


.fail{
    margin-left: 10%;
}