


.card{
    background-color:  #293443;
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 300px;
    margin:40px;
    margin-bottom: 10px;
    bottom: 100px;
    border-radius: 15px;
    box-shadow: 10px 20px 8px #222831;
    
}





.img{
    margin-top: 25px;
    height: max-content;
    width: 70%;
    padding: 0px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-size: 100%;
    
}

.title{
    width: 150px;
    text-decoration-line: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    margin-left: 70px;
    margin-top: 25px;
    margin-bottom: 15px;
    color: #EEEEEE;
   
    

}

.title:hover{
    text-decoration-line:underline;
}



.continent{
    position: static;
    margin-left: 0px;
    color: #EEEEEE
}

.name{
    margin-top: 15px;
}


